.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(0px);
  background-color: #fff;
  padding: 40px 40px 80px;
  /* border: 1px solid red; */
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 40vw;
  min-width: 400px;
  /* height: 300px; */
}

body {
  background-color: #f4f4f4;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 3rem;
}

h2,
button {
  font-family: "Cookie", sans-serif;
}

label {
  display: block;
  margin-bottom: 5px;
}

input[type="password"], input[type="password"]:focus-visible {
  text-align: center;
  width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  outline-color: crimson;
}

