/* Reset some default styles */
@import url("https://fonts.googleapis.com/css2?family=Butterfly+Kids&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cookie&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Carattere&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lavishly+Yours&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Butterfly Kids", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  font-size: 1rem;
}

button {
  font-family: "Cookie", sans-serif;
  width: 100%;
  padding: 10px;
  background-color: crimson;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(185, 17, 50);
}

/* Ringing animation */
@keyframes ringing {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(10deg);
  }
  20% {
    transform: rotate(-10deg);
  }
  30% {
    transform: rotate(5deg);
  }
  40% {
    transform: rotate(-5deg);
  }
  50% {
    transform: rotate(0deg);
  }
}

.ringing-button {
  animation: ringing 1.5s ease-in-out infinite;
}
