body {
  color: white;
  background-color: crimson;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  background-image: radial-gradient(
    circle,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 0.6)
  );
  animation: unblur 1.5s ease-in-out 0ms 1 both normal;
}

h2 {
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 20px;
  font-size: 6rem;
  margin-bottom: 4rem;
  font-weight: 900;
  text-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}

.actions {
  position: relative;
  overflow: hidden;
  border-radius: 5vh;
  /* background-color: rgba(0, 0, 0, 0.24); */
  background-image: radial-gradient(circle, transparent, rgba(0, 0, 0, 0.2));
  width: 100%;
  min-width: 200px;
  max-width: 600px;
  border: 1px solid rgba(0, 0, 0, 0.167);
  margin: 40px auto 0;
  display: flex;
  justify-content: center;
  gap: 70px;
}

.actions span {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.actions span:first-child {
  position: absolute;
  left: 5%;
  /* transform: translateX(-50%); */
}

.actions span:last-child {
  position: absolute;
  right: 5%;
  /* transform: translateY(-50%); */
}

button {
  z-index: +99;
  border-radius: 5vh;
  padding: 10px 20px;
  font-size: 1.5rem;
  width: auto;
  /* background-color: transparent; */
  border: 2px solid white;
  text-transform: capitalize;
  transition: all 0.3s ease;
}

button:first-child {
  background-color: white;
  color: crimson;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  /* border-color: rgb(174, 16, 47); */
}

/* button:last-child {
  background-color: rgb(185, 17, 50);
  border-color: rgb(174, 16, 47);
} */

button:hover,
button:focus {
  animation: none;
  /* border-color: rgb(174, 16, 47); */
  transform: scale(1.1);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.valentine-container {
  font-family: "Dancing Script", sans-serif;
  padding: 20%;
}

.valentine-container small {
  display: inline-block;
  font-size: 2rem;
  font-family: "Cookie", sans-serif;
  margin-bottom: 3rem;
}

@keyframes unblur {
  from {
    background-size: 100%;
    filter: blur(15px) opacity(0%);
  }

  to {
    background-size: 250%;
    filter: blur(0px) opacity(100%);
  }
}

@media only screen and (max-width: 768px) {
  h2 {
    font-size: 4rem;
  }

  .valentine-container {
    padding: 10%;
  }

  button {
    font-size: 1rem;
  }
}
